@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors */
    --background: #ededed;
    --foreground: rgb(0, 0, 0);
    --accent: rgb(125, 0, 125);
    --nav-text: whitesmoke;
    --footer-text: #777777;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter, sans-serif;
}

#navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: var(--foreground);
  color: var(--accent);

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  max-height: 10vh;

  * {
    display: inline-block;

    font-weight: 600;
    color: var(--nav-text);
    align-self: center;
  }

  h1 {
    padding-left: 20px;
    padding-right: 20px;

    font-size: larger;
    font-stretch: narrower;
  }

  h3 {
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

    background-color: var(--accent);
    font-size: large;
  }
}

#logo-container {
  position: absolute;
  top: 10px;
  left: 50vw;
  transform: translateX(-51%);

  width: 100px;
  height: auto;
  max-height: 10vh;
}

#splash {
  min-height: 80vh;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--foreground);
  color: var(--footer-text);

  padding: 20px;
  margin-top: 40px;

  #spaced-footer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  hr {
    background-color: var(--footer-text);
    width: 80%;
    margin: 10px;
  }

  p {
    margin: 5px;
  }
}